*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    background:#637e8a;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("background.jpg");
    /* background-size:cover ;
    overflow: hidden ; */
}
.calculator{
    background:#3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border:0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px -6px 15px #000;
    outline: 1px solid #313131;
    outline-offset: 3px;
    background: transparent;
    font-size:20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display:flex;
    justify-content:flex-end;
    margin:20px 0;
}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: -5px -6px 15px #232323;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}
#opr{
    color: #fbff00;
    background: #1e1919;
    font-weight: 700;

}